[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
psycopg2-binary = "*"
google-api-python-client = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
