[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
psycopg2-binary = "*"
google-api-python-client = "*"
opencv-python = "*"
numpy = "*"
exif = "*"
geopy = "*"
pyheif = "*"
Pillow = "*"
piexif = "*"
exifread = "*"
matrix-commander = "*"

[dev-packages]

[requires]
python_version = "3.10"
